<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>create club</title>
</head>
<body>
    <h1>Create a space for your online club</h1>
    <form action="/create-new" method="post">
        
        <label for="username">Your name / username</label>
        <input id="username" name="username" type="text" required>

        <label for="clubName">Your clubs name / something descriptive maybe?</label>
        <input id="clubName" name="clubName" type="text" required>

        <label for="date">Date of your next club meeting</label>
        <input id="date" name="date" type="text">

        <button type="submit">submit</button>
    </form>
</body>
</html>