<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/styles/chat.css" />
    <title>Bookclub lists</title>
</head>
<body>
    <h1>book club</h1>

    <main>
            <% if (errorMsg.length > 0) { %>
                <span><%=errorMsg%></span>
            <% } %>
        <form class="joinForm" action="/" method="post">
            <input id="username" class="username" type="text" value="" name="username" placeholder="username" autocomplete="off" required="required" />
            <label for="roomName">Enter your clubs pin to join</label>
            <input id="roomName" class="roomName" type="text" value="" name="roomName" placeholder="- - - - -" autocomplete="off" required="required" />
            <button type="submit">join</button>
        </form>

        <a href="/new-room">or create a room</a>
    </main>

</body>
</html>