body > *,
p,
h3{
    color: #eee;
    margin: 0;
    padding: 0;
    font-family: 'avenir',Arial, Helvetica, sans-serif
}

body{
    /* background-color: #fff; */
    background-color: #1d1d1f;
    margin: 0;
    padding: 0;
}


h1{
    background: none;
    font-size: 24px;
    padding: 0;
    margin: 10px;
    font-weight: bold;
    font-size: 40px;
}

h2{
    font-size: 15px;
    color: #333;
    font-weight: 400;
    margin: 10px 10px 0;
}

.hidden{
    opacity: 0;
    pointer-events: none;
    transform: scale(0.5, 0.5)
}

.input{
    background-color: #e6e6e6;
    border-radius: 8px;
    padding: 10px;
    border: none;
    font-size: 20px;
    width: 78%;
    outline: none;
    margin: 8px;
}

.chat-wrapper{
    background-color: #3d3c40;
    border-radius: 8px;
    margin: 0 100px 0 0;
}

.searchField{
    background-color: #3d3c40;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid #797979;
    border-radius: 0;
    color: #000;
    letter-spacing: 1px;
    width: 78%;
    outline: none;
    padding: 10px;
    margin: 7px;
    color: #eee;
}

.date{
    outline: none;
    padding: 0;
    font-weight: 800;
    max-width: 150px;
    background-color: #3d3c40;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #797979;
    border-radius: 0;
    color: #fd6726;
    letter-spacing: 1px;
    margin: 5px 0 0 10px;
}

.username{
    text-align: center;
    margin: 10px 0 0 0;
}

.info{
    text-align: center;
}

.attend{
    background-color: #fd6726;
    border: none;
    outline: none;
    padding: 2px 4px;
    border-radius: 4px;
    color: #fffbf6;
    font-size: 12px;
    margin: 0 0 0 auto;
}

.datewrap{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.attendee{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.attendee{
    margin: 2px 10px;
    font-weight: 900;
    letter-spacing: 2px;
}

.message{
    font-size: 15px;
    max-width: 78%;
    width: fit-content;
    margin: 0 0 6px;
}


.message-txt{
    color: #fffbf6;
    border-radius: 8px;
    border-bottom-left-radius: 0;
    margin: 10px;
    padding: 6px;
    font-size: 15px;
    max-width: 100%;
    width: fit-content;
    background-color: #46B38E;
}

.my-message {
    margin-left: auto;
}
.my-message .message-txt{
    background-color: #eeeeee;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 8px;
    color: #000;
    margin: 20px 10px 10px auto;
}

.time{
    color: #909090;
    margin: 0 0 0 10px;
    font-size: 10px;
    line-height: 0;
    letter-spacing: 1px;
    display: block;
}

.my-message .time{
    margin: 0 10px 0 auto;
    text-align: right;
}

@supports (display: flex) {
    .message{
        display: flex;
    flex-direction: column;
    }
    .chat-container{
        display: flex;
        list-style-type: none;
        flex-direction: column;
    }
}




.chat-container{
    list-style-type: none;
    padding: 0;
    overflow-y: scroll;
    height: 440px;
    margin: 0 100px 0 0;
}

.searchButton,
.send{
    padding: 14px 10px;
    border-radius: 8px;
    border: none;
    background-color: #fd6726;    
    color: #fffbf6;
    letter-spacing: 1px;
}

.collapse{
    background-color: #000;
    color: #eee;
    padding: 10px;
    border: none;
    border-radius: 7px;
}

.searchButton{
    background-color: #FF6726;
}

main{
    /* display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 150px; */
    display: grid;
    grid-template-columns: 1fr 3fr;
    flex-wrap: nowrap;
    margin: 0;
    grid-gap: 30px;
}

.search-container{
    background-color: #3d3c40;
    border-radius: 8px;
    margin: 40px 100px 0 0;
    position: relative;
}

.share{
    background-color: #fd6726;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    color: #eee;
    font-size: 15px;
}

.welcome-holder{
    text-align: center;
}

.readingWrapper{
    overflow: hidden;
    background-color: #3d3c40;
    border-radius: 8px;
    margin: 0 0 0 20px;
    padding: 10px;
    height: 100%;
}

.readingList{
    width: 100%;
    height: 470px;
    overflow: hidden;
    overflow-y: scroll;
}

.reading-img{
    max-width: 90px;
}

.sharePin{
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 18px;
    color: #fd6726;
}

.from{
    font-size: 11px;
    color: #333;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 5px 0 -9px 0;
}

.searchContainer{
    max-height: 570px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 20px 0 0 0;
    position: absolute;
    top: 59px;
    background: #1d1d1f;
    width: 100%;
    z-index: 2;
    margin: auto;
}

.attend-wrapper{
    background-color: #3d3c40;
    margin: 50px 0 0 20px;
    padding: 20px;
    border-radius: 8px;
}

.dateof{
    margin: 0 0 10px 38px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.dateof label{
    position: relative;
    cursor: pointer;
}

.dateof label:before{
    content: "📅";
    width: 70px;
    height: 70px;
    position: absolute;
    left: -41px;
    font-size: 38px;
}

.book-cover{
    box-shadow: 0px 4px 7px 12px rgb(253 103 38 / 0%), 0px 4px 16px rgb(253 103 38 / 55%);
}

.small{
    font-size: 12px;
}

.premium-book-data{
    padding: 30px;
    max-width: 20%;
}

.book-result{
    display: flex;
    position: relative;
    margin: 20px 0;
}

.descriptionContainer{
    margin: 30px 30px 0 0;
    max-width: 80%;
    width: 80%;
}

.buy-link{
    background: #7ec8ff;
    border-radius: 4px;
    color: #174B87;
    font-weight: 500;
    text-decoration: none;
    text-align: right;
    padding: 2px 6px 2px 30px;
    height: fit-content;
    margin: 0 14px;
    position: relative;
}

.buy-link::before{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 3px;
    left: 3px;
    background-image: url("https://assets.stickpng.com/images/5847f9cbcef1014c0b5e48c8.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.book-price{
    text-decoration: underline;
    text-align: center;
    border-radius: 4px;
    display: inline;
}

.inactive{
    color:#333;
    background-color: #eee;
}

.priceContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    align-items: center;
}

.message-book{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 80%;
    margin: 20px auto 10px 10px;
    padding: 10px;
    position: relative;
}

.add{
    position: absolute;
    z-index: 1;
    right: 20px;
    top: -5px;
    width: 140px;
    /* background-color: #46B38E; */
    background-color: #000;
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 2px 10px 2px 0;
    transition: .2s ease;
}

.add::before{
    content: "+";
    width: 10px;
    height: 10px;
    position: absolute;
    right: 6px;
    top: 0px;
    font-size: 17px;
}


.add:focus,
.add:hover{
    outline-color: #FF6726;
}

.message-img{
    width: 100%;
    padding: 10px;
}

.message-details{
    max-width: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.my-message .message-details > *,
.my-message .desc,
.my-message .message-description{
    color: #000;
}

.desc{
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: auto 0 0 0;
}
.message-description{
    max-width: 70%;
    margin: 20px;
    align-items: start;
    display: flex;
    flex-direction: column;
}

.bold{
    font-weight: bold;
}

.like-button{
    background: none;
    border: none;
    outline: none;
    width: 86px;
    text-align: left;
    margin: 6px 0 0 0;
    padding: 0 0 0 25px;
    position: relative;
    color: #fd6726;
}

.like-button span{
    pointer-events: none;
}
.like-button::before{
    content: "🧡";
    width: 20px;
    height: 20px;
    position: absolute;
    display: block;
    left: 0;
    top: -3px;
    opacity: .5;
}

.liked::before{
    content: "❤️";
    opacity: 1;
}

.heart{
    fill: #d6d6d6;
}

.tiny{
    font-size: 10px;
}

.book-list-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.book-img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 6px 0 0;
}

.recco{
    margin: 0 0 2px;
}

.reccomended-book{
    list-style-type: none;
    margin: 20px 0;
}